<h3>Manage hours {{ facade.selectedDate$ | async | date }}</h3>

<div class="flex gap-x-4 pt-32 items-center">
    <div class="flex flex-col">
        <label>Start date</label>
        <input class="border-[1px] border-solid border-black p-1 rounded-md shadow-base"
               type="text"
               [(ngModel)]="startDate"
               mwlFlatpickr
               [convertModelValue]="true"
               [noCalendar]="true"
               [enableTime]="true"
               [minuteIncrement]="1"
               [dateFormat]="'H:i'"
        >
    </div>

    <div>
        <label>End date</label>
        <input class="border-[1px] border-solid border-black p-1 rounded-md shadow-base"
               type="text"
               [(ngModel)]="endDate"
               mwlFlatpickr
               [convertModelValue]="true"
               [noCalendar]="true"
               [enableTime]="true"
               [minuteIncrement]="1"
               [dateFormat]="'H:i'"
        >
    </div>

    <button mat-icon-button
            class="!bg-primary !text-white !rounded-md !items-center !justify-center !flex mt-auto"
            (click)="addCoachHour()"
    >
        <mat-icon>add</mat-icon>
    </button>
</div>
