<mat-drawer-container class="example-container" autosize>
    <mat-drawer class="example-sidenav" #drawer mode="over" [position]="'end'">
        <gym-coaches-list-filters (saveEmitter)="drawer.close()"></gym-coaches-list-filters>
    </mat-drawer>

    <div class="p-8 example-sidenav-content">
        <div class="grid grid-cols-3 items-center pb-6">
            <h1 class="col-start-2 text-center max-md:col-start-1 max-md:col-span-2 max-md:place-self-start">Coaches</h1>

            <button mat-icon-button color="primary" class="place-self-end" (click)="drawer.toggle()">
                <mat-icon>filter_list</mat-icon>
            </button>
        </div>

        <div *ngIf="coachesFacade.areCoachesLoading$ | async" class="flex justify-center items-center h-full">
            <mat-progress-spinner class="spinner" mode="indeterminate" diameter="40"></mat-progress-spinner>
        </div>

        <div class="grid grid-cols-6 gap-8 max-lg:grid-cols-3 max-md:grid-cols-2 max-sm:grid-cols-1" *ngIf="(coachesFacade.areCoachesLoading$ | async) === false">
            <div class="shadow-base rounded-md p-2 flex flex-col items-center gap-y-4" *ngFor="let coach of (coachesResponse)?.content">
                <img class="w-full h-[240px] object-contain" [src]="coach.avatar == null ? '../../../../../assets/default-user.png' : imgService.getJpeg(coach.avatar)" (click)="openCoachDialog(coach)">
                <span class="font-bold">{{ coach.coachName }}</span>
                <span>{{ coach.categories[0] }}</span>
                <button mat-icon-button *ngIf="!coach.isFavorite" (click)="coachesFacade.likeCoach(coach.coachUid)">
                    <mat-icon>favorite_border</mat-icon>
                </button>
                <button mat-icon-button *ngIf="coach.isFavorite" (click)="coachesFacade.dislikeCoach(coach.coachUid)">
                    <mat-icon>favorite</mat-icon>
                </button>
            </div>
        </div>

        <gym-paginator *ngIf="coachesResponse"
                       class="pt-4 mt-auto"
                       [pageSizeOptions]="[10, 15, 20]"
                       [totalRecords]="coachesResponse.totalRecords"
                       [totalPages]="coachesResponse.totalPages"
                       [showPageSize]="false"
                       [page]="coachesResponse.pageNumber"
                       (pageChange)="pageChange($event)">
        </gym-paginator>
    </div>
</mat-drawer-container>
