:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

mat-drawer-container {
  flex: 1;
}

mat-drawer {
  width: 250px;
}

mat-drawer-content {
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
}

gym-toolbar {
  border-bottom: solid 1px rgba(0, 0, 0, 0.12);
}
