<div class="flex flex-wrap text-center justify-between">
    <div class="flex mt-auto">
        <div class="flex gap-x-2 h-fit">
            <div
                class="btn btn-primary"
                mwlCalendarPreviousView
                [view]="view"
                [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()"
            >
                Previous
            </div>
            <div
                class="btn btn-outline-secondary"
                mwlCalendarToday
                [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()"
            >
                Today
            </div>
            <div
                class="btn btn-primary"
                mwlCalendarNextView
                [view]="view"
                [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()"
            >
                Next
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>
    <div class="flex flex-col-reverse gap-y-4">
        <div class="flex gap-x-2 h-fit">
            <div
                class="btn"
                (click)="setView(CalendarView.Month)"
                [class.active]="view === CalendarView.Month"
            >
                Month
            </div>
            <div
                class="btn"
                (click)="setView(CalendarView.Week)"
                [class.active]="view === CalendarView.Week"
            >
                Week
            </div>
            <div
                class="btn"
                (click)="setView(CalendarView.Day)"
                [class.active]="view === CalendarView.Day"
            >
                Day
            </div>
        </div>

        <button mat-raised-button color="primary" routerLink="coach-hours">
            <mat-icon >arrow_right</mat-icon>
            <span>Manage coach hours</span>
        </button>
    </div>
</div>
<br />
<div [ngSwitch]="view" class="shadow-base mx-1">
    <mwl-calendar-month-view
        *ngSwitchCase="CalendarView.Month"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        [activeDayIsOpen]="activeDayIsOpen"
        (dayClicked)="dayClicked($event.day)"
        (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
        *ngSwitchCase="CalendarView.Week"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
        *ngSwitchCase="CalendarView.Day"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-day-view>
</div>
