<button class="close-btn" mat-icon-button (click)="close()">
    <mat-icon>close</mat-icon>
</button>

<div class="flex gap-x-4">
    <img class="w-[200px] h-[200px]" alt="avatar" [src]="data.coach.avatar == null ? '../../../../../assets/default-user.png' : imgService.getJpeg(data.coach.avatar)">

    <div class="flex flex-col gap-y-4">
        <span>{{ data.coach.coachName }}</span>
        <span>{{ data.coach.categories | join }}</span>
        <span>{{ data.coach.gender }}</span>
    </div>
</div>

<div class="flex flex-col">
    <span class="font-bold py-4">Description</span>
    <span>{{ data.coach.description }}</span>
</div>
