<div class="flex items-center gap-x-2" *ngIf="showPageSize">
    <span>Items per page: <span class="ml-2">{{ pageSize }}</span></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button
            mat-menu-item
            *ngFor="let pageSize of pageSizeOptions"
            (click)="pageSizeEmit(pageSize)"
        >{{ pageSize }}</button>
    </mat-menu>
</div>

<div class="flex items-center">
    <span>Page {{page}} of {{totalPages}}</span>

    <button mat-icon-button (click)="previousPage()" [disabled]="canPreviousPage">
        <mat-icon>arrow_left</mat-icon>
    </button>

    <button mat-icon-button (click)="nextPage()" [disabled]="canNextPage">
        <mat-icon>arrow_right</mat-icon>
    </button>
</div>
