:root {
  --color-primary: #660033;
  --color-background: rgb(255, 255, 255, .95);
  --color-light-blue: #A4BEF3;
  --color-purple: #9B5995;
  --color-green: #59C3C3;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-light-dark: #2A2A2A;
  --color-grey: #737373;
  --color-dark-grey: #595959;
  --color-light-grey: #8C8C8C;
  --color-success: #1BAF4E;
  --color-error: #C33C54;
  --color-warning: #F9C22E;
  --color-info: #5578EB;
}
