@use 'sass:map';
@use "@angular/material" as mat;

$primary-light-palette: (
  50 : #ede0e7,
  100 : #d1b3c2,
  200 : #b38099,
  300 : #944d70,
  400 : #7d2652,
  500 : #660033,
  600 : #5e002e,
  700 : #530027,
  800 : #490020,
  900 : #380014,
  A100 : #ff6e93,
  A200 : #ff3b6c,
  A400 : #ff0846,
  A700 : #ee003b,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

@include mat.core();
$gymify-theme: mat.define-light-theme((
  color: (
    primary: mat.define-palette($primary-light-palette),
    accent: mat.define-palette(mat.$teal-palette),
    warn: mat.define-palette(mat.$red-palette),
  )
));
$gymify-typography: mat.define-typography-config(
  $font-family: 'Montserrat',
);
@include mat.all-component-themes($gymify-theme);
@include mat.all-component-typographies($gymify-typography);
