@use '../../../../styles/typography';

:host {
  height: 100%;
}

img {
  padding: 48px;
}

.menu-header {
  @extend .typography-regular-12;
  color: var(--color-dark-grey);
  padding-left: 16px;
}

mat-nav-list {
  display: flex;
  flex-direction: column;
  height: 80%;
}
