@use '../../../../styles/typography';

:host {
  height: 100%;
}

img {
  padding: 48px;
}

.menu-header {
  @extend .typography-regular-12;
  color: var(--color-dark-grey);
  padding-left: 16px;
}

mat-nav-list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  height: 80%;
}

.active {
  @apply bg-primary py-2 text-white rounded-tr-xl rounded-br-xl mr-4;
}
